@import "tailwindcss";


*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.loading{
    animation: move 10s ease-in;
}
@keyframes move {
    0%{
        right: -100%;
    }
    100%{
        right: 0%;
    }
}


.bet-history {
  scrollbar-width: thin; 
  scrollbar-color: rgb(0, 0, 0) rgb(100, 100, 100);
}

.bet-history::-webkit-scrollbar {
  width: 4px;
}

.bet-history::-webkit-scrollbar-track {
    background: rgb(120, 7, 7);
}

.bet-history::-webkit-scrollbar-thumb {
  background-color: rgb(171, 22, 22); /* Scrollbar color */
  border-radius: 10px;
}


.dot-animation::after {
  content: '';
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0%   { content: ''; }
  33%  { content: '.'; }
  66%  { content: '..'; }
  100% { content: '...'; }
}

.Toastify__toast{
  max-width: 70vw;
  font-size: 14px;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .Toastify__toast {
    max-width: 400px;
    font-size: 16px;
  }
}